*.csproj
*.unityproj
Library
Logs
Temp
.vsconfig
.vs
HybridCLRData
Release-Win64
obj
Bundles
Game

Hotdll
LogOut
yoo
/Assets/LogOut.meta
StreamingAssets
/Assets/AssetsPackage/Config
/obj/

UnityEditorTool/
